body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.FirstButton {
    color: white;
    background-color: #034773;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    user-select: none;
    caret-color: transparent;
}

.FirstButton:active {
    filter: invert(100%);
}